* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contaner {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #adef00,
    #eebf00,
    #ff8701,
    #ff4653,
    #ff008b,
    #f600a6,
    #e500c4,
    #c721e2,
    #ad21e4,
    #9024e5,
    #6e27e5,
    #3c2be5
  );
  padding: 10px;
}
.todo-app {
  max-width: 500px;
  width: 100%;
  margin: 100px auto 20px;
  background-image: linear-gradient(
    to right top,
    #ef5918,
    #ed8100,
    #e1a700,
    #caca00,
    #a8eb12
  );
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  color: rgb(18, 19, 17);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(
    to right top,
    #ef5918,
    #fb1052,
    #eb008b,
    #b422c3,
    #1251eb
  );
  border-radius: 20px;
  padding-left: 10px;
}
.todo-app img {
  height: 50px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: burlywood;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-image: linear-gradient(
    to right bottom,
    #ef5918,
    #e58200,
    #caa900,
    #9bcc00,
    #36eb12
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
ul li {
  list-style: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  user-select: none;
  cursor: pointer;
  padding: 12px 8px 12px 50px;
  /* background-color: orangered; */
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url(./image/noun-uncheck-2082398.png);
  background-size: cover;
  background-position: center;
  top: 4px;
  left: 8px;
}

li .checked {
  color: #555;
  text-decoration: line-through;
}
.checked::before {
  content: "";
  background-image: url(./image/—Pngtree—green\ checkmark\ error_5456774.png);
  text-decoration: line-through;
}
span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: red;
  line-height: 40px;
  text-align: center;
  transition: 0.3s all linear;
}
span:hover {
  background-color: rgb(74, 71, 71);
  border-radius: 50%;
  transition: 0.3s all linear;
}
